.header {
	display: grid;
	grid-template-columns: 1fr 40px;
	gap: 10px;

	padding: 15px 15px 0;
}

.menu {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	overflow-y: scroll;

	padding: 20px 10px;

	background: #F5F6F8;
}

.close {
	position: fixed;
	top: 20px;
	right: 20px;
}
